/* this is style for the homepage, just remove the comment from the border to know the exact place */

/* .div1hero{
  border: 2px solid rgb(216, 216, 92);
} */
.divser{
  /* border: 2px solid rgb(92, 216, 206); */
 position: relative;
    top: 23%;
}
.divtrust{
 
    /* border: 2px solid rgb(216, 92, 154); */
    position: relative;
    top: 25%;
}
