
/* this is for homepage container */
.containerhomepage{
  display: flex;
  width: 100%;
  min-height: 100vh;
  border: 1px solid red;
  background-color: #ffffff;
box-sizing: border-box;
}
.divhomepageall{
display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
min-height: 100vh;
  border: 1px solid rgba(81, 24, 214, 0.705);
  box-sizing: border-box;
  padding-bottom: 60px;
}
.containerhomepage1{
  display: flex;
  flex-direction: column;
    width: 95%;
  height: 350px;
  margin-top: 10px;
  border: 2px solid rgb(31, 63, 204);
}
.homepage-navbar{
   display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%;
  height: 40px;
  border: 1px solid rgb(214, 15, 15);
}
/* Notification + Profile container */

.notification-profile {
  display: flex;
  align-items: center;
  gap: 18px;

  border: 2px solid blue;
}


/* Notification button */

.notification-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: none;
  background: transparent;

  cursor: pointer;

  color: #172033;
}


/* Small orange notification dot */

.notification-dot {
  position: absolute;

  top: 7px;
  right: 7px;

  width: 7px;
  height: 7px;

  border-radius: 50%;

  background-color: #f57c00;

  border: 2px solid white;
}


/* Profile button */

.profile-button {
  width: 42px;
  height: 42px;

  padding: 0;

  border: none;
  background: transparent;

  border-radius: 50%;

  overflow: hidden;

  cursor: pointer;
}

.profile-button img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* =========================
   HOMEPAGE LOCATION
========================= */

.homepage-location {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 10px 2px;

  box-sizing: border-box;

  border: 2px solid green;
}


/* Location button */

.location-button {
  display: flex;
  align-items: center;

  gap: 7px;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;

  color: #172033;
}


/* Location icon */

.location-icon {
  color: #f57c00;
}


/* Location text */

.location-text {
  font-size: 15px;
  font-weight: 500;

  color: #172033;
}


/* Down arrow */

.location-arrow {
  margin-left: 2px;

  color: #555;
}
/* =========================
   HOMEPAGE TEXT + IMAGE
========================= */

.homepage-text-image {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
 
  width: 100%;
  min-height: 200px;
  /* padding: 15px 25px 0; */
  box-sizing: border-box;
  border: 2px solid rgb(20, 245, 76);
}


/* =========================
   TEXT
========================= */

.homepage-text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 58%;
  border: 2px solid orange;
}


.homepage-text h1 {
  margin: 0;

  font-size: 32px;
  line-height: 1.15;

  font-weight: 800;

  color: #172033;
}


.homepage-text h1 span {
  color: #f57c00;
}


.homepage-text p {
  margin: 14px 0 0;

  font-size: 13px;
  line-height: 1.5;

  color: #555;
}


/* =========================
   WORKER IMAGE
========================= */

.homepage-worker-image {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
  border: 2px solid rgb(248, 48, 165);
}


.homepage-worker-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-position: bottom right; */
  display: block;
}

.homepage-input {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.search-box {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;

  padding: 0 10px 0 10px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

  box-sizing: border-box;
}

.search-box svg {
  color: #777;
  flex-shrink: 0;
}

.search-box input {
  flex: 1;

  height: 100%;

  border: none;
  outline: none;

  padding: 0 12px;

  font-size: 14px;
}

.search-box input::placeholder {
  color: #888;
}

.search-box button {
  height: 36px;
  padding: 0 15px;

  border: none;
  border-radius: 10px;

  background-color: #ff7200;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 400px) {
  
  .homepage-text h1 {
  margin: 0;

  font-size: 30px;
  line-height: 1.15;

  font-weight: 800;

  color: #172033;
}
.homepage-text p {
  margin: 14px 0 0;

  font-size: 11px;
  line-height: 1.5;

  color: #555;
}

.search-box input {
  flex: 1;

  height: 100%;

  border: none;
  outline: none;

  padding: 0 8px;

  font-size: 12px;
}

.search-box input::placeholder {
  color: #888;
}

.search-box button {
  height: 30px;
  padding: 0 10px;

  border: none;
  border-radius: 10px;

  background-color: #ff7200;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

}

.containerhomepage2 {
  width: 95%;
  height: 70px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(91, 236, 23);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;
  box-sizing: border-box;

  overflow: hidden;
}

.quick-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;

  width: 16%;
  height: 100%;

  border: none;
  background: transparent;

  cursor: pointer;

  color: #333;
}

.quick-service svg {
  color: #f57c00;
  background-color: #f0eded;
  border-radius: 6px;
}

.quick-service span {
  font-size: 11px;
  white-space: nowrap;
}

.containerhomepage3{
    width: 95%;
  height: 120px;
  margin-top:10px ;
  border: 1px solid rgb(17, 4, 4);
  box-sizing: border-box;
}

.popular-services-header {
  width: 100%;
  height: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-services-header h2 {
  margin: 0;

  font-size: 11px;
  font-weight: 700;
}

.view-all-button {
  border: none;
  background: none;

  color: #f57c00;
  font-size: 11px;

  cursor: pointer;
}
.popular-services-list {
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-card {
  width: 23%;
  height: 90px;

  border-radius: 7px;

  background: #ffffff;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  overflow: hidden;

  box-sizing: border-box;
}
.service-card img {
  width: 100%;
  height: 60px;
border-radius: 10px;
  object-fit: cover;

  display: block;
}

.service-card h3 {
  margin: 4px 6px 0;

  font-size: 9px;
  font-weight: 600;
}

.service-card p {
  margin: 2px 6px 0;

  font-size: 8px;
  font-weight: 300;
  color: #0e0c0c;
}




.containerhomepage4{
    width: 95%;
  height: 15%;
  margin-top: 10px;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage5{
    width: 95%;
  height: 200px;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage6{
    width: 98%;
  height: 30px;
  border: 1px solid rgb(17, 4, 4);
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #faf2f2;
}
