
/* this is for homepage container */
.containerhomepage{
  display: flex;
  width: 100%;
  min-height: 100vh;
  border: 1px solid red;
  background-color: #ffffff;
box-sizing: border-box;
}
.divhomepageall{
display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
min-height: 100vh;
  border: 1px solid rgba(81, 24, 214, 0.705);
  box-sizing: border-box;
}
.containerhomepage1{
  display: flex;
  flex-direction: column;
    width: 95%;
  height: 300px;
  margin-top: 10px;
  border: 2px solid rgb(31, 63, 204);
}
.homepage-navbar{
   display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%;
  height: 40px;
  border: 1px solid rgb(214, 15, 15);
}
/* Notification + Profile container */

.notification-profile {
  display: flex;
  align-items: center;
  gap: 18px;

  border: 2px solid blue;
}


/* Notification button */

.notification-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: none;
  background: transparent;

  cursor: pointer;

  color: #172033;
}


/* Small orange notification dot */

.notification-dot {
  position: absolute;

  top: 7px;
  right: 7px;

  width: 7px;
  height: 7px;

  border-radius: 50%;

  background-color: #f57c00;

  border: 2px solid white;
}


/* Profile button */

.profile-button {
  width: 42px;
  height: 42px;

  padding: 0;

  border: none;
  background: transparent;

  border-radius: 50%;

  overflow: hidden;

  cursor: pointer;
}

.profile-button img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}
.homepage-location{
  width: 100%;
  height: 30px;
  border: 1px solid rgb(4, 17, 4);
}

.containerhomepage2{
    width: 95%;
  height: 300px;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage3{
    width: 95%;
  height: 150px;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage4{
    width: 95%;
  height: 15%;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage5{
    width: 95%;
  height: 200px;
  border: 1px solid rgb(17, 4, 4);
}
.containerhomepage6{
    width: 98%;
  height: 50px;
  border: 1px solid rgb(17, 4, 4);
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #faf2f2;
}
